* {
  padding: 0;
  margin: 0;
}

img {
  border: none;
}

a,
section.item-list article.item a {
  color: #8C0305;
  text-decoration: underline;
}

sup, sub { font-size: 75%; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
i { font-style: italic; }

span.units { 
	font-size: 80% !important;
	margin-left: 2px !important;
}

a:hover,
section.item-list article.teim a:hover {
  color: #f00;
  text-decoration: underline;
}

#wrap {
  width: 1000px;
  margin: 0px auto;
}

.clear {
  clear: both;
}

/* header */

#header {
  height: 90px;
}

#header h1 {
  padding: 20px 0 5px 10px;
  font-size: 20px;
  letter-spacing: -2px;
}
#header h2 {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 100;
}

#search input {
  width: 350px;
}

#calendar {
  width: 160px;
}

#search_help {
  font-size: 80%;
}

/* right */

.right {
  float: right;
  width: 538px;
  padding: 10px 20px 10px 40px;
  border-left: 1px solid #aaa;
  text-align: justify;
}

.right h2 {
  padding: 15px 0 5px 0;
  color: #B4241B;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -2px;
}

.container {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#hits-tab a {
  margin-right: 5px;
}

#result-tabs {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#result-tabs>div {
  overflow-y: scroll;
}

#navigation {
  border-bottom: 1px solid #000;
}

#pager,
#pager-header {
  display: inline;
}

#pager li,
.links li {
  list-style-type: none;
  display: inline;
}

/* left */

.left {
  float: left;
  width: 300px;
  padding: 0 0 10px 10px;
}

.left h2 {
  clear: left;
  padding-top: 20px;
  color: #333;
  font-size: 13px;
}

div.item-list {
  padding-top: 1px;
}

div.ui-tabs-panel.ui-widget-content {
  font-size: 0.9rem;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

div.item-list header {
	margin-bottom: 10px;	
}

article.item footer {
	margin-top: 10px;
	min-height: 10px;
}

article.item footer a {
	margin-right: 10px;
}

article footer span {
	display: none;
	float: right;	
	opacity: 0.0;
}

article:hover footer span {
	opacity: 0.5;
}

article footer.add span.item_add,
article footer.remove span.item_remove,
article footer.none span.item_none {	
	display: block; 
}

article div.one-study {
	margin-top: 10px;
}

article span.category { 
	font-weight: bold;
}

article span.guidance { 
	font-style: italic; 
}

/* tagcloud */

#hits_tab .tags li {
  margin-left: 0px;
  margin-right: 8px;
}

#accordion-resizer {
  height: 860px;
  padding: 5px;
}

#accordion .tags li {
  width: auto;
  max-width: 130px;
  margin-left: 4px;
  margin-right: 8px;
}

#accordion .tags li>a {
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space: nowrap;
}

#accordion div.ui-accordion-content::-webkit-scrollbar {
	display: none !important;
}

#accordion div.ui-accordion-content {
  max-height: 345px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#accordion>h3>span.ui-icon-search {
	display: none;
}

#accordion>h3.ui-state-active>span.ui-icon-search {
	display: inline-block;
}

#accordion>h3>span.ui-icon-search {
	float: right;	
	opacity: 0.4;
}

#accordion>h3>span.ui-icon-search:hover {
	opacity: 1.0;
}

.facet-foldable {
	padding-left: 4px;
	padding-right: 4px;
	box-sizing: border-box;  
  width: 100%;
}

.facet-foldable .title {
	display: block;
	margin-left: 4px;
	margin-bottom: 2px;
	font-size: 90%;
}

.facet-foldable .title>span.ui-icon { 
	float: right; 
	opacity: 0.4;
}

.facet-foldable .title>span.ui-icon:hover { opacity: 1.0; }
.facet-foldable.folded>* { display: none; }
.facet-foldable.folded>.title { display: inherit !important; }
.facet-foldable:hover .title { color: rgba(0, 0, 0, 0.6); }
.facet-foldable.folded:hover .title { color: inherit; }

div.facet-foldable:hover {
	background: #ddd; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(200,200,200,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(200,200,200,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* W3C */
}

.facet-foldable.green {
	background: rgba(101,187,52,.1); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(101,187,52,.1) 0%, rgba(101,187,52,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,187,52,.1)), color-stop(100%,rgba(101,187,52,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(101,187,52,.1) 0%, rgba(101,187,52,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(101,187,52,.1) 0%, rgba(101,187,52,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(101,187,52,.1) 0%, rgba(101,187,52,.2) 100%) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(101,187,52,.1) 0%, rgba(101,187,52,.2) 100%); /* W3C */
}

.facet-foldable.blue {
	background: rgba(87, 164, 215, 0.17); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(87, 164, 215,.1) 0%, rgba(87, 164, 215,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87, 164, 215,.1)), color-stop(100%,rgba(87, 164, 215,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(87, 164, 215,.1) 0%, rgba(87, 164, 215,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(87, 164, 215,.1) 0%, rgba(87, 164, 215,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(87, 164, 215,.1) 0%, rgba(87, 164, 215,.2) 100%) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(87, 164, 215,.1) 0%, rgba(87, 164, 215,.2) 100%); /* W3C */
}

div.widget-content.ui-accordion-content.ui-widget-content {
	padding:1px; 
	margin:1px;	
}

input.widget-filter {
  width: 100%;
  border-radius: 5px;
  padding-left: 12px;
  margin-bottom: 5px;
  box-sizing: border-box;  
}

a.tagcloud_size_0 { font-size: 80%; }
a.tagcloud_size_1 { font-size: 90%; }
a.tagcloud_size_2 { font-size: 100%; }
a.tagcloud_size_3 { font-size: 110%; }
a.tagcloud_size_4 { font-size: 120%; }
a.tagcloud_size_5 { font-size: 130%; }
a.tagcloud_size_6 { font-size: 140%; }
a.tagcloud_size_7 { font-size: 150% }
a.tagcloud_size_8 { font-size: 160%; }
a.tagcloud_size_9 { font-size: 170%; }
a.tagcloud_size_10 { font-size: 180%; }
