* {
  padding: 0;
  margin: 0;
}

img {
  border: none;
}

a,
section.item-list article.item a,
#sliders a {
  color: #8C0305;
  text-decoration: underline;
}

sup, sub { font-size: 75%; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
i { font-style: italic; }

span.units { 
	font-size: 80% !important;
	margin-left: 2px !important;
}

a:hover,
section.item-list article.item a:hover,
#sliders a:hover {
  color: #f00;
  text-decoration: underline;
}

#wrap {
  width: 1000px;
  margin: 0px auto;
}

.clear {
  clear: both;
}

/* header */

#header {
  height: 90px;
}

#header h1 {
  padding: 20px 0 5px 10px;
  font-size: 20px;
  letter-spacing: -2px;
}
#header h2 {
  padding-left: 10px;
  color: #666;
  font-size: 14px;
  font-weight: 100;
}

#search input {
  width: 350px;
}

#calendar {
  width: 160px;
}

#search_help {
  font-size: 80%;
}

/* right */

.right {
  float: right;
  width: 538px;
  padding: 10px 20px 10px 40px;
  border-left: 1px solid #aaa;
  text-align: justify;
}

.right h2 {
  padding: 15px 0 5px 0;
  color: #B4241B;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: -2px;
}

.container {
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 100%;
}

#hits-tab a {
  margin-right: 5px;
}

#result-tabs {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

#result-tabs>div {
  overflow-y: scroll;
}

#navigation {
  border-bottom: 1px solid #000;
}

#pager,
#pager-header {
  display: inline;
}

#pager li,
.links li {
  list-style-type: none;
  display: inline;
}

/* left */

.left {
  float: left;
  width: 300px;
  padding: 0 0 10px 10px;
}

.left h2 {
  clear: left;
  padding-top: 20px;
  color: #333;
  font-size: 13px;
}

div.item-list {
  padding-top: 1px;
}

div.ui-tabs-panel.ui-widget-content {
  font-size: 0.9rem;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

div.item-list header {
	margin-bottom: 10px;	
}

article a.more {
  font-style: italic;
}

article.item footer {
	margin-top: 10px;
	min-height: 10px;
}

article.item footer a {
	margin-right: 10px;
}

footer a.command {
	float: right;	
	opacity: 0.5;
	display: none;
}

footer a.command:hover {
	opacity: 0.9;
}

footer.add .command.add,
footer.remove .command.remove,
footer.none .command.none {
	display: inline-block;
}

article div.one-study {
	margin-top: 10px;
}

article span.category { 
	font-weight: bold;
}

article span.guidance { 
	font-style: italic; 
}

/* tagcloud */

#hits_tab .tags li,
#hits_tab .tags li.combined.last {
  margin-left: 4px;
  margin-right: 18px;
  max-width: 250px;
}

#hits_tab .tags li.combined {
  margin-right: 12px;
  opacity: 0.9;
}

#hits_tab .tags li.tag_clear {
  float: right;
  margin-right: 0px;
}

#hits_tab .tags li.tag_clear a:hover span {
  max-width: 0;
  padding: 0 0 0 2px;
}

#sliders {
  padding: 5px;
}

#sliders .slider-container {
  display: inline-block;
  margin: 15px 25px 25px 5px;
}

#sliders .slider-container .scale span:nth-child(2) {
  width: 60%;
}

#sliders a.command {
  display: inline-block;
}

#sliders .slider-container .back-bar .pointer-label {
  font-size: 12px;
  padding: 1px;
}
/*
.tags li.tag_selected a span {
  padding: 0 7px 0 6px;
  max-width: 40px;
}
*/

#accordion-resizer {
  height: 860px;
  padding: 5px;
}

#accordion .tags li {
  width: auto;
  max-width: 130px;
  margin-left: 4px;
  margin-right: 8px;
}

#accordion .tags li.category {
  width: 85%;
  max-width: inherit;
  font-weight: bold;
  box-sizing: border-box;
}

#accordion .tags li.selected {
  opacity: 0.6;
}

.tags li>a {
  text-overflow: ellipsis;  
  overflow: hidden;
  white-space: nowrap;
}

#accordion div.ui-accordion-content::-webkit-scrollbar {
	display: none !important;
}

#accordion div.ui-accordion-content {
  max-height: 345px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#accordion>h3>span.ui-icon-search,
#accordion>h3>span.ui-icon-search.ui-icon.unused {
	display: none;
}

#accordion>h3.ui-state-active>span.ui-icon-search {
	display: inline-block;
}

#accordion>h3>span.ui-icon-search {
	float: right;
	opacity: 0.4;
}

#accordion>h3>span.ui-icon-search:hover {
	opacity: 1.0;
}

#accordion ul.tag-group {
  padding: 4px 0px 0px 0px;
	margin-bottom: 2px;
	box-sizing: border-box;  
  width: 100%;
  border: #aaa solid 1px;
  border-radius: 7px;
  position: relative;
}

#accordion ul.tag-group.folded { border-color: #eee; }
#accordion ul.tag-group.folded li { margin-bottom: 4px; }
#accordion ul.tag-group.folded>* { display: none !important; }
#accordion ul.tag-group.folded>.title { display: inherit !important; }

#accordion ul.tag-group::before {
  float: right;
  margin: 4px 5px 2px 0px;
  font-size: smaller;
  opacity: 0.5;
}

#accordion ul.tag-group::before:hover {
  opacity: 0.9;
}

#accordion ul.tag-group.static::before {
  margin-top: 0px;
  text-align: right;
  width: 90%;
}

#accordion ul.tag-group::before { content: "-"; }
#accordion ul.tag-group.folded::before { content: "+"; }

#accordion ul.tag-group.static.year::before { content: "Year -"; }
#accordion ul.tag-group.static.reference::before { content: "Reference -"; }
#accordion ul.tag-group.static.folded.year::before { content: "Year +"; }
#accordion ul.tag-group.static.folded.reference::before { content: "Reference +"; }

.jtox-panel:hover {
	background: #ddd; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(200,200,200,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(200,200,200,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(200,200,200,.2) 100%); /* W3C */
}

div.ui-accordion-content.ui-widget-content {
	padding:1px; 
	margin:1px;	
}

input.widget-filter {
  width: 100%;
  border-radius: 5px;
  padding-left: 12px;
  margin-bottom: 5px;
  box-sizing: border-box;  
}
